#exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(MASS)
useDynLib(ChangePointCalc)
export(PathCalc,PathCalcLogistic)
export(SynthesizeData,SynthesizeDataLogistic)
export(DPmain, DPPlotChangePoint, DPPlotL1Norm, SGLmain, SGLPlotChangePoint, SGLPlotNorm)
export(SGLLogitmain, SGLLogitcalc)